  <h1>New book</h1>
   <%= form_with model: book  do |f| %>
     <p>Title</p>
      <%= f.text_field :title %>
     <h6>Opinion</h6>
      <%= f.text_area :body %>
      <p>
       <button type="submit" class="btn btn-success">Create Book</button>
      </p>
  <% end %>
