<% @book.each do |book| %>
<div>
  <%= image_tag post_image.get_image %>
  <p>投稿ユーザー画像：<%= image_tag 'sample-author1.jpg' %></p>
  <p>Title：<%= post_image.shop_name %></p>
  <p>Opinion：<%= post_image.caption %></p>
</div>
<% end %>