<div class="d-flex align-items-center justify-content-center" >
　<h1>welcome to <i class="fas fa-book"></i>Bookers !!</h1>
</div>
  <div class="d-flex align-items-center justify-content-center" >
    In <i class="fas fa-book"></i><p class="font-weight-bold">Bookers,</p><br />
    you can share and exchange your opinions, inpressions, and emotions<br />
    about various books!
  </div>

<div class="d-flex align-items-center justify-content-center" >
 <%= link_to "Log in", new_user_session_path, class:'btn btn-info btn-sm btn-blok mb-3' %>
 <%= link_to "Sign up", new_user_registration_path, class:'btn btn-success btn-sm btn-blok mb-3' %>
</div>